* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html{
  height: 100%;
  margin: 0;
}

body {
  background: #f4f7fb;
  color: #1f2d3d;
  height: 100%;
}

/* Header */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  color: #274b7a;
  
}

.logo {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}


.menu-section {
  display: none;
  
}

.menu-section-desktop{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 40px;
}

.h3-logo {
    text-align: left;
}

.fone {
  color: #274b7a;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  font-size: 28px;
  cursor: pointer;
  display: none; /* escondido no desktop */
}

.menu  {
  display: block;
  display: flex;
  gap: 20px;
    
}

.menu a {
  color: #274b7a;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.menu a:hover{
    margin-left: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #1f2d3d;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background: #e7f0fa;
  padding: 2rem 1rem;
}

.hero h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position: relative;
  width: 70%;
  max-width: 90%; /* ajuste conforme quiser */
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}


.img-hero {
  width: 120px;
  margin-bottom: 1rem;
}

.btn-ajuda {
  background: #274b7a;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.btn-ajuda:hover {
  background-color: #f3f3f3;
  color: #274b7a;
  border: solid 1px #274b7a ;
}

/* Seções */
section {
  padding: 2rem 1rem;
}

h3 {
  text-align: center;
  color: #274b7a;
  margin-bottom: 1rem;
}

/* Cards */
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 30%;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  transition: transform 0.7s;
}

.card span {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 0.5rem;
}

.card-invisible {
    display: none;
}

.card-hidden{
    display: none;
}

.card:hover {
    transform: scale(1.05);
}

/* Endereço */
.mapa {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.iframe-maps{
    max-width: 90%;
    width: 55%;
    margin-top: 1.6rem;
    border-radius: 12px;
}
#imagem-conselhoTutelar{
    border-radius: 12px;
    max-width: 90%;

    transition: opacity 0.3s;
}

#imagem-conselhoTutelar:hover{
    opacity: 0.8;
}

.img-escola {
  border-radius: 12px;
  max-width: 90%;
  
  height: 20rem;
  transition: opacity 0.3s;
  margin-top: 0.5rem;
}

.img-escola:hover {
  opacity: 0.7;
}

.mapa-box, .predio {
  background: #e7f0fa;
  border-radius: 8px;
  width: 45%;
  min-width: 140px;
  text-align: center;
  padding: 2rem 0;
}

.iframe-maps2{
  max-width: 90%;
  width: 30rem;
  height: 20rem;
  margin-top: 1.6rem;
  border-radius: 12px;
}

/* Escola parceira */
.card-escola {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex-wrap: wrap;
  gap: 1rem;
}

.info-escola {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-contato {
  background: #274b7a;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  font-weight: bold;
}

#rodapé {
  width: 100%;
  background-color: #f0f0f0; /* ou a cor que você quiser */
  text-align: center;
  padding: 20px 10px;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

#h3-rodapé {
  font-size: 2rem;
}

#h3-rodapé2 {
  font-size: 1.5rem;
}

#h3-rodapé3 {
  font-size: 1.3rem;
}
#p-contato-escola{
  font-size: 1.2rem;
  color: #274b7a;
  font-weight: bold;
}
#p-contato-conselho{
  font-size: 1.2rem;
  color: #274b7a;
  font-weight: bold;
  margin-top: 1rem;
}



/* Ajuste footer * /

/* === Ajuste específico para tablets e telas médias === */
@media (min-width: 768px) and (max-width: 1024px){
  footer {
    position: relative;
    bottom: 0;
  }
}

/* Responsividade */

@media(max-width: 700px) {
  header {
    
    margin-left: 0;
  }
  body{
    scroll-behavior: smooth;
    
  }

   .menu-toggle {
    display: block; /* mostra o ícone no celular */
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 200px;
    display: none; /* começa escondido */
    z-index: 999;
  }

  .menu.show {
    display: flex; /* aparece quando ativado */
  }

  .menu a {
    color: white;
    padding: 15px;
    border-bottom: 1px solid #274b7a ;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: #274b7a;
  }


  #h3-rodapé {
    font-size: 1.5rem;
  }

  #h3-rodapé2 {
    font-size: 1.5rem;
  }

  #h3-rodapé3 {
    font-size: 1.3rem;
  }
  #p-contato-escola{
    font-size: 1.2rem;
    color: #274b7a;
    font-weight: bold;
  }
  #p-contato-conselho{
    font-size: 1.2rem;
    color: #274b7a;
    font-weight: bold;
  }


  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #274b7a;
    min-height: auto;
  }


  


  
}



/* Responsividade Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* mostra o ícone no celular */
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    flex-direction: column;
    width: 200px;
    display: none; /* começa escondido */
    z-index: 999;
  }

  .menu.show {
    display: flex; /* aparece quando ativado */
  }

  .menu a {
    color: white;
    padding: 15px;
    border-bottom: 1px solid #444;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: #444;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card, .mapa-box, .predio {
    width: 90%;
  }
  .btn-ajuda {
    width: 80%;
  }
  .card-escola {
    flex-direction: column;
    text-align: center;
  }

  .menu nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
 
  .topo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    
  }

  .fone {
    display: none;
  }

  #rodapé{
    padding: 5rem;
    min-height: 12rem;
  }
}



/* Tablets */

@media(max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
}
